@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.mainWrapper {
	margin: 50px;
}

.campgrounds-bg {
	background-image: url("https://images6.alphacoders.com/661/661681.jpg");
	background-size: cover;
}

.nav-bar {
	padding: 10px;
}

.buttons {
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 10px;
}

/****************  ALL CAMPGROUNDS Page *******************/

.campground {
	border: 3px solid black;
	display: flex;
	height: 250px;
	margin-bottom: 20px;
}

.listImg {
	height: 100%;
	width: 325px;
}

.listDetails {
	padding: 20px;
}

.listTitle {
	text-align: center;
}

.btnDiv {
	display: flex;
	justify-content: center;
}