@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

.mainWrapper {
	margin: 50px;
}

.campgroundsList-bg {
	background-image: url("https://media.cntraveler.com/photos/5fbbdc25bead4eb22be793ae/16:9/w_2560%2Cc_limit/WinterCamping-2020-GettyImages-628134586.jpg");
 	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.nav-bar {
	padding: 10px;
}

.buttons {
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 10px;
}

/****************  ALL CAMPGROUNDS Page *******************/

.pageTitle {
	text-align: center;
	margin-bottom: 30px;
}

.subTitle {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}

.listHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.campground {
	border: 3px solid black;
	display: flex;
	height: 300px;
	margin-bottom: 20px;
}

.listImg {
	height: 100%;
	width: 350px;
}

.listDetails {
	color: black;
	background-color: white;
	padding: 20px;
	opacity: 85%;
	overflow: auto;
}

.listTitle {
	text-align: center;
}

.btnDiv {
	display: flex;
	justify-content: center;
}

/****************  DETAILS CAMPGROUNDS Page *******************/

#id {
	display: none;
}

.detailImg {
	height: 600px;
	width: 100%;
}