@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.mainWrapper {
	margin: 50px;
}

.pageTitle {
	text-align: center;
}

.subTitle {
	margin-top: 75px;
	text-align: center;
}

.formDiv {
	display: flex;
	justify-content: space-between;
}